{% extends 'budget/base.html' %}
{% block title %}
    Advisor List
{% endblock %}

{% block heading %}
    <h1>Advisors</h1>
{% endblock %}

{% block content %}
    <a class="button" href="{% url 'budget_advisor_create_urlpattern' %}">Create New Advisor</a>

    <ul>
        {% for advisor in advisor_list %}
            <li><a href="{{ advisor.get_absolute_url }}">{{ advisor }}</a></li>
        {% empty %}
            <li><em>There are currently no advisors available.</em></li>
        {% endfor %}
    </ul>

{% endblock %}