{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="https://unpkg.com/simpledotcss/simple.min.css">
</head>
<body>

<header>
    {% block heading %}
    {% endblock %}
    <nav>
      <a href="{% url 'home_urlpattern' %}">Home</a>
      <a href="{% url 'about_urlpattern' %}">About</a>
      <a href="{% url 'budget_client_list_urlpattern' %}">Clients</a>
      <a href="{% url 'budget_budget_list_urlpattern' %}">Budgets</a>
      <a href="{% url 'budget_income_list_urlpattern' %}">Incomes</a>
      <a href="{% url 'budget_expense_list_urlpattern' %}">Expenses</a>
      <a href="{% url 'budget_advisor_list_urlpattern' %}">Advisors</a>
    </nav>
</header>

<main>
    {% block content %}
    {% endblock %}
</main>

<footer>
    <p>
        App by Evan Chen (echen48@illinois.edu). Credit to <a href="https://simplecss.org/news">Simple.css</a> for styling.
        <br>Simple.css was created by <a href="https://kevquirk.com">Kev Quirk</a> and is licensed under the MIT license.
    </p>
</footer>

</body>
</html>