{% extends 'budget/base.html' %}
{% block title %}
    Budget List
{% endblock %}

{% block heading %}
    <h1>Budgets</h1>
{% endblock %}

{% block content %}
    {% if perms.budget.add_budget %}
        <a class="button" href="{% url 'budget_budget_create_urlpattern' %}">Create New Budget</a>
    {% endif %}

    <ul>
        {% for budget in budget_list %}
            <li><a href="{{ budget.get_absolute_url }}">{{ budget }}</a></li>
        {% empty %}
            <li><em>There are currently no budgets available.</em></li>
        {% endfor %}
    </ul>

{% endblock %}