{% extends 'budget/base.html' %}
{% block title %}
    Budget Detail
{% endblock %}

{% block heading %}
    <h1>Budget - {{ budget }}</h1>
{% endblock %}

{% block content %}
    <section>
        <h3>Budget Information</h3>
        <a class="button" href="{{ budget.get_visualize_url }}">Visualize Budget</a>

        <table>
            <tr>
                <td>Client:</td>
                <td><a href="{{ budget.client.get_absolute_url }}">{{ budget.client }}</a></td>
            </tr>
            <tr>
                <td>Budget Name:</td>
                <td>{{ budget.budget_name }}</td>
            </tr>
            <tr>
                <td>Start Date:</td>
                <td>{{ budget.start_date }}</td>
            </tr>
            <tr>
                <td>End Date:</td>
                <td>{{ budget.end_date }}</td>
            </tr>
        </table>
        <div>
            <a class="button" href="{{ budget.get_update_url }}">Update Budget</a>
            <a class="button" href="{{ budget.get_delete_url }}">Delete Budget</a>
        </div>
    </section>
    <section>
        <h3>Categories</h3>
        <a class="button" href="{% url 'budget_budget_category_create_urlpattern' %}?budget_id={{ budget.pk }}">Create Category</a>
        <ul>
            {% for category in budget_categories %}
                <li>
                    {{ category.category }}: ${{ category.amount }} &emsp;
                    <a href="{{ category.get_update_url }}?budget_id={{ budget.pk }}">Update Category</a> &emsp;
                    <a href="{{ category.get_delete_url }}?budget_id={{ budget.pk }}">Delete Category</a>
                </li>
            {% empty %}
                <li><em>There are currently no categories under this budget.</em></li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}