{% extends 'budget/base.html' %}
{% block title %}
    Expense List
{% endblock %}

{% block heading %}
    <h1>Expenses</h1>
{% endblock %}

{% block content %}
    <a class="button" href="{% url 'budget_expense_create_urlpattern' %}">Create New Expense</a>
    <a class="button" href="{% url 'budget_filter_expense_by_category_urlpattern' %}">Filter By Category</a>
    <a class="button" href="{% url 'budget_filter_expense_by_frequency_urlpattern' %}">Filter By Frequency</a>

    <ul>
        {% for expense in expense_list %}
            <li><a href="{{ expense.get_absolute_url }}">{{ expense }}</a></li>
        {% empty %}
            <li><em>There are currently no expenses available.</em></li>
        {% endfor %}
    </ul>
{% endblock %}