{% extends 'budget/base.html' %}

{% block title %}
    Update Income
{% endblock %}

{% block heading %}
    <h1>Update Income - {{ client }} ({{ category }})</h1>
{% endblock %}

{% block content %}
    <form
        action="{{ income.get_update_url }}"
        method="post">
        <aside>
            <p><b>Note:</b></p>
            <p>The expected input format for <code>Date</code> is <br> 'YYYY-MM-DD'</p>
        </aside>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Update Income</button>
    </form>
{% endblock %}
