{% extends 'budget/base.html' %}

{% block title %}
    Create Income
{% endblock %}

{% block heading %}
    <h1>Create Income</h1>
{% endblock %}

{% block content %}
    <form
        action="{% url 'budget_income_create_urlpattern'%}"
        method="post">
        {% csrf_token %}
        <aside>
            <p><b>Note:</b></p>
            <p>The expected input format for <code>Date</code> is <br> 'YYYY-MM-DD'</p>
        </aside>
        {{ form.as_p }}
        <button type="submit">Create Income</button>
    </form>
{% endblock %}
