{% extends 'budget/base.html' %}
{% block title %}
    Income List
{% endblock %}

{% block heading %}
    <h1>Incomes</h1>
{% endblock %}

{% block content %}
    {% if perms.budget.add_income %}
        <a class="button" href="{% url 'budget_income_create_urlpattern' %}">Create New Income</a>
    {% endif %}
    {% if perms.budget.view_income %}
        <a class="button" href="{% url 'budget_filter_income_by_category_urlpattern' %}">Filter By Category</a>
    {% endif %}
    {% if perms.budget.view_income %}
        <a class="button" href="{% url 'budget_filter_income_by_frequency_urlpattern' %}">Filter By Frequency</a>
    {% endif %}

    <ul>
        {% for income in income_list %}
            <li><a href="{{ income.get_absolute_url }}">{{ income }}</a></li>
        {% empty %}
            <li><em>There are currently no incomes available.</em></li>
        {% endfor %}
    </ul>

{% endblock %}