{% extends 'budget/base.html' %}
{% block title %}
    Visualize Budget
{% endblock %}

{% block heading %}
    <h1>Visualize Budget</h1>
{% endblock %}

{% block content %}
    <section>
        <h1>{{ budget }} Budget</h1>
        <p>Scroll down to view this Budget as a bar chart and pie chart, powered by <a href="https://www.chartjs.org">ChartJS</a>.</p>
    </section>

    {% if labels and amounts %}
        <div style="display:block; margin:0 auto;">
            <section>
                <h3>Bar Chart</h3>
                <canvas id="barChart" width=600em height=300em></canvas>
            </section>
            <section>
                <h3>Pie Chart</h3>
                <canvas id="pieChart" width=600em height=300em></canvas>
            </section>
        </div>
    {% else %}
        <p>No categories available to display.</p>
    {% endif %}

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        var ctxBar = document.getElementById('barChart').getContext('2d');
        var barChart = new Chart(ctxBar, {
            type: 'bar',
            data: {
                labels: {{ labels|safe }},
                datasets: [{
                    label: 'Limit ($)',
                    data: {{ amounts|safe }},
                    backgroundColor: 'rgba(4, 85, 164, 0.2)',
                    borderColor: 'rgba(4, 85, 164, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: false,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        var ctxPie = document.getElementById('pieChart').getContext('2d');
        var pieChart = new Chart(ctxPie, {
            type: 'pie',
            data: {
                labels: {{ labels|safe }},
                datasets: [{
                    label: 'Limit ($)',
                    data: {{ amounts|safe }},
                    borderWidth: 1
                }]
            },
            options: {
                responsive: false,
                plugins: {
                    legend: {
                        position: 'bottom'
                    }
                }
            }
        });
    </script>
{% endblock %}
